*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rowdies', cursive;
}

.container{
    width: 90%;
    padding: 60px 0;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header{
    width: 100%;
    height: 770px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/ingenieriadesoftware-l-.jpg);
    background: linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/ingenieriadesoftware-l-.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    background:rgba(42, 64, 118, 0.7);;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
}

nav>a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
    font-size: 20px;
}

.text-header{
    display: flex;
    height: 385px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}

.text-header h1{
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 0px;
    text-transform: uppercase;
}


.text-header h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 35%;
    padding-bottom: 10px;
}

.text-header button{ 
    color: #2e5fd1;
    padding: 10px 65px 10px 65px;
    border-radius: 28px;
    border: 0px;
    font-size: 25px;
    margin-top: 30px;
    cursor: pointer;
}
.wave-one{
    background: url(../img/wave.svg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.title-into-wave{
    color: #fff;
    font-size: 65px;
    text-align: center;
    padding-top: 13%;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.wave-one p{
    color: #fff;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
    background: #1c4caa;
    margin-top: -45px;
}

.container-about-us{
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 7%;
    padding-right: 0%;
    text-align: center;
    display: flex;
    background: #1c4caa;
}

.quienessomos-img{
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-right: 100px;
    margin-left: 0px;
    margin-bottom: 30px;
}
.quienessomos-img img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.container-laboratory{
    display: flex;
    padding-left: 200PX;
    padding-top: 100px;
    padding-right: 200px;

}

.laboratorio{
    padding-left:150px ;
    color: #073aa5;
    padding-top: 50px;
    padding-right: 80px;
}

.laboratorio h1{
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
}

.laboratorio p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.laboratorio button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #073aa5;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.container-laboratory img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.ola1{
    background: url(../img/Ola1.png);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    padding-bottom: 300px;
}

.ola1 h2{
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-top: 20%;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.ola1 p {
    color: #fff;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    background: #1b4ca9;
}

.notas{
    background: #1b4ca9;
    padding-left: 13%;
    padding-top: 60px;
    padding-bottom: 20%;
    padding-right: 13%;
    margin-top: -20px;
}

.circulo1{
    border: 3px solid;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-right: 4%;
    margin-left: 4%;

}

.circulo2{
    border: 3px solid;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-right: 4%;
    margin-left: 4%;
}

.circulo3{
    border: 3px solid;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-right: 4%;
    margin-left: 4%;
}

.notas h3{
    padding-top: 41px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 40px;
}

.ciudadela{
    background: white;
    margin-top: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    color: #1b4ca9;
}

.ciudadela img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

.ciudadela p{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 120px;
}

.ciudadela button{
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #073aa5;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.phoebe-fazier{
    width: 100%;
    height: 770px;
    background: linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/uatf.jpg);
    background-size: cover;
    color: white;
}

.phoebe-fazier img{
    margin-top: 150px;
    margin-left: 42%;
    margin-right: 42%;
    width: 200px;
    height: 220px;
}

.phoebe-fazier p{
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.phoebe-fazier{
    text-align: center;
    font-size: 20px;
}

.contactos{
    margin-top: 0px;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
    background: url(../img/Ola2.png);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    padding-bottom: 300px;
}

.contactos-x{
    padding-top: 20%;
}

.contactos-x h2{
    color: #1b4ca9;
    font-size: 50px;
}

.contactos p{
    margin-top: 20px;
    margin-bottom: 60px;
    color:#1b4ca9 ;
}

.contactos-x input{
    background: #d9d7d7;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 15px;
}

.contactos-x button{
    background: #1b4ba9;
    color: white;
    padding: 5px;
    border-radius: 15px;
    border-color: #1b4ba9;
    margin-left: -35px;
    cursor: pointer;
}

main{
    background: white;
}

.ola3{
    background: url(../img/Ola3.png);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    padding-bottom: 300px;
    margin-top: -75px;
}

.piedepagina{
    background: #111111;
    color: white;
    margin-top: -120px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
    display: flex;
    justify-content: space-evenly;
}
.piedepagina h3{
    margin-bottom: 10px;
}

.titulo-pie{
    margin-right: 30px;
}

.sobrenosotros {
    margin-right: 10px;
}
.servicios {
    margin-right: 10px;
}
.otros{
    margin-right: 10px;
}

.sobrenosotros p {
    cursor: pointer;
    margin-bottom: 5px;
}
.servicios p{
    cursor: pointer;
    margin-bottom: 5px;
}
.otros p{
    cursor: pointer;
    margin-bottom: 5px;
}

.redes-sociales img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;

}
.title-final{
    text-align: center;
    background: #111111;
    color: white;
    padding-bottom: 20px;
    font-size: 24px;
}

.containerMobile{
    background: red;
}